/* details.css */

.details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f7f7f7;
  }
  
  .details-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .details-content h1 {
    margin-bottom: 20px;
  }
  
  .details-content p {
    margin: 10px 0;
  }
  
  .details-content strong {
    font-weight: bold;
  }
  