/* CSS for the "Add Task" Button */
#open-popup {
    margin: 20px auto; /* Center horizontally */
    background-color: #073363;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    width: 100px;
    height: 50px;
    display: block; /* Center horizontally */
}

/* CSS for the Popup Form */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    margin-top: 50px;
    margin-left: 450px;
  }
  
  .popup-inner {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    position: relative;
  }
  
  #close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
#task-form {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ccc; /* Add border to the form */
    padding: 20px;
    border-radius: 5px;
    width: 400px;
}

#task-form input,
#task-form textarea,
#task-form select {
    border: 1px solid #ccc; /* Add border to form elements */
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#close-popup,
button[type="submit"] {
    background-color: #073363;
    color: #fff;
    margin-top: 0%;
}

#close-popup {
    margin-left: 80%;
    margin-top: 2%;
}

button:hover {
    transform: scale(1.05); /* Subtle hover effect */
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.table {
    width: 100%;
    margin-top: 60px;
    margin-left: 10%;
    border-collapse: collapse;
    border: #000;
    text-align: left;
}

.table thead th {
    border-bottom: 2px solid #000;
    padding: 10px;
    text-align: center;
    vertical-align: top;
}

.table tbody td {
    padding: 10px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid black;
}
